{# This file is using for /etc/hosts #}

127.0.0.1 localhost

{% for host in groups['all'] %}

{{ hostvars[host]['ansible_facts']['ansible_eth0']['ipv4']['address'] }} {{ hostvars[host]['ansible_facts']['fqdn'] }}

{% endfor %}